body {
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}
#options_container img {
    height: 80px;
}
h1, h3 {
    display: block;
    width: 50%;
    margin: 30px auto 20px auto;
    text-align: center;
}
#options_container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;

}
.rock, .paper, .scissors {
    position: relative;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}
.rock img {
    position: relative;
    left: -2px;
}
.paper img {
    position: relative;
    left: -82px;
}
.scissors img {
    position: relative;
    left: -162px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0px;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
    color: white;
    opacity: 0;
    transition: .5s ease;
}
.overlay:hover{
    opacity: 1;
}
.rock .overlay {
    background-color: #fa7c7c;
}
.paper .overlay {
    background-color: turquoise;
}
.scissors .overlay {
    background-color: wheat;
}
.text {
    position: relative;
    top: 0px;
    left: 0px;
}
#fight_container {
    height: 120px;
    width: 640px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: auto;
}
#fight_container img {
    height: 120px;
}
#my_play {
    position: relative;
    left: 0px;
    align-content: flex-start;
    width: 120px;
    overflow: hidden;
}
#my_play img {
    position: relative;
    left: 122px;
}
#comp_play {
    position: relative;
    align-content: flex-end;
    width: 120px;
    overflow: hidden;
}
#comp_play img {
    position: relative;
    left: 122px;
}
#my_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    width: 120px;
    background-color: white;
    opacity: 1;
}
#comp_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    width: 120px;
    background-color: white;
    opacity: 1;
}
#narration {
    width: 120px;
    border-radius: 60px;
    text-align: center;
    line-height: 120px;
    font-size: 30px;

}



#results {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: auto;
}
#results > div {
//    margin: 50px;
    width: 120px;
    height: 30px;
    text-align: center;
}
.wins {
    font-size: 20px;
}
#my_score {
margin: 20px;
text-align: center;
font-size: 80px;
}
#computer_score {
margin: 20px;
text-align: center;
font-size: 80px;
}