img {
    height: 50px;
}
#options {
    display: flex;
    align-content: center;
    justify-content: center;

}
#options div {
    display: flex-start;
    border-radius: 30px;
    border: 1px solid red;
    filter: grayscale(100%);
    width: 50px;
    height: 50px;
    margin: 10px;
    overflow: hidden;
}
#options div:hover {
    filter: grayscale(0%);
}
#rock img {
    position: relative;
    left: -1px;
}
#paper img {
    position: relative;
    left: -51px;
}
#scissors img {
    position: relative;
    left: -101px;
}